.main {
  max-width: 996px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  margin-bottom: 24px;
}

.section h1 {
  margin-bottom: 16px;
}

.section:first-of-type h1 {
  margin-bottom: 4px;
  font-size: 28px;
}

.section:first-of-type p {
  color: var(--color-subtle);
  font-weight: 600;
  font-size: 16px;
}
