.card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 12px;

  background-color: var(--color-canvas);
  border: var(--border);
  border-radius: var(--border-radius);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleToolbar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

.titleToolbar button {
  margin-top: -8px;
  margin-right: -8px;
}

.title {
  margin-bottom: 0 !important;
  font-size: 20px;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.tag {
  padding: 2px 6px;

  font-size: 12px;
  font-weight: 600;
  color: var(--color-subtle);

  border: var(--border);
  border-radius: var(--border-radius);
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}

.footer {
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: var(--color-subtle);
}

.blue {
  border-color: var(--color-blue6);
}

.blue .title {
  color: var(--color-blue11);
}

.teal {
  border-color: var(--color-teal6);
}

.teal .title {
  color: var(--color-teal11);
}

.tomato {
  border-color: var(--color-tomato6);
}

.tomato .title {
  color: var(--color-tomato11);
}

.plum {
  border-color: var(--color-plum6);
}

.plum .title {
  color: var(--color-plum11);
}

.violet {
  border-color: var(--color-violet6);
}

.violet .title {
  color: var(--color-violet11);
}
