.content {
  padding: 4px;
  background-color: var(--color-canvas);
  border: var(--border);
  border-radius: var(--border-radius);
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius);
}

.iconButton:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

.iconButton:active {
  background-color: var(--color-active);
}

.iconButton svg {
  width: 18px;
  height: 18px;
  color: var(--color-foreground);
}

.item {
  padding: 8px 12px;
  border-radius: var(--border-radius);
}

.item:hover {
  background-color: var(--color-hover);
  outline: 0;
}

.item:active {
  background-color: var(--color-active);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
