/* stylelint-disable at-rule-no-deprecated */
@import 'tailwindcss';

@theme {
  /* typography */
  --font-sans:
    var(--font-inter), sans-serif, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-display:
    var(--font-funnel-display), sans-serif, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: initial;
  --font-mono: initial;
}

@layer base {
  *::selection {
    @apply bg-orange-100 text-orange-900 dark:bg-orange-950 dark:text-orange-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-extrabold text-neutral-800 dark:text-neutral-300;
  }
}

@utility font-optical-sizing-auto {
  font-optical-sizing: auto;
}

@utility font-normal {
  font-variation-settings: 'wght' 400;
}

@utility font-medium {
  font-variation-settings: 'wght' 500;
}

@utility font-semibold {
  font-variation-settings: 'wght' 600;
}

@utility font-bold {
  font-variation-settings: 'wght' 700;
}

@utility font-extrabold {
  font-variation-settings: 'wght' 800;
}
