@import 'tailwindcss';

@theme {
  /* typography */
  --font-sans: var(--font-host-grotesk);

  /* breakpoints */
  --breakpoint-xs: 425px;
  --breakpoint-xs-alt: 672px;
}

@utility font-optical-sizing-auto {
  font-optical-sizing: auto;
}

@utility font-normal {
  font-variation-settings: 'wght' 400;
}

@utility font-medium {
  font-variation-settings: 'wght' 500;
}

@utility font-semibold {
  font-variation-settings: 'wght' 600;
}

@utility font-bold {
  font-variation-settings: 'wght' 700;
}
