@import 'tailwindcss';

/* Vercel's Geist colors (https://vercel.com/geist/colors) */
:root {
  /* grays */
  --ds-gray-100: hsl(0deg 0% 95%);
  --ds-gray-200: hsl(0deg 0% 92%);
  --ds-gray-300: hsl(0deg 0% 90%);
  --ds-gray-400: hsl(0deg 0% 92%);
  --ds-gray-500: hsl(0deg 0% 79%);
  --ds-gray-600: hsl(0deg 0% 66%);
  --ds-gray-700: hsl(0deg 0% 56%);
  --ds-gray-800: hsl(0deg 0% 49%);
  --ds-gray-900: hsl(0deg 0% 40%);
  --ds-gray-1000: hsl(0deg 0% 9%);

  /* blues */
  --ds-blue-100: hsl(212deg 100% 97%);
  --ds-blue-200: hsl(210deg 100% 96%);
  --ds-blue-300: hsl(210deg 100% 94%);
  --ds-blue-400: hsl(209deg 100% 90%);
  --ds-blue-500: hsl(209deg 100% 80%);
  --ds-blue-600: hsl(208deg 100% 66%);
  --ds-blue-700: hsl(212deg 100% 48%);
  --ds-blue-800: hsl(212deg 100% 41%);
  --ds-blue-900: hsl(211deg 100% 42%);
  --ds-blue-1000: hsl(211deg 100% 15%);

  /* reds */
  --ds-red-100: hsl(0deg 100% 97%);
  --ds-red-200: hsl(0deg 100% 96%);
  --ds-red-300: hsl(0deg 100% 95%);
  --ds-red-400: hsl(0deg 90% 92%);
  --ds-red-500: hsl(0deg 82% 85%);
  --ds-red-600: hsl(359deg 90% 71%);
  --ds-red-700: hsl(358deg 75% 59%);
  --ds-red-800: hsl(358deg 70% 52%);
  --ds-red-900: hsl(358deg 66% 48%);
  --ds-red-1000: hsl(355deg 49% 15%);

  /* ambers */
  --ds-amber-100: hsl(39deg 100% 95%);
  --ds-amber-200: hsl(44deg 100% 92%);
  --ds-amber-300: hsl(43deg 96% 90%);
  --ds-amber-400: hsl(42deg 100% 78%);
  --ds-amber-500: hsl(38deg 100% 71%);
  --ds-amber-600: hsl(36deg 90% 62%);
  --ds-amber-700: hsl(39deg 100% 57%);
  --ds-amber-800: hsl(35deg 100% 52%);
  --ds-amber-900: hsl(30deg 100% 32%);
  --ds-amber-1000: hsl(20deg 79% 17%);

  /* greens */
  --ds-green-100: hsl(120deg 60% 96%);
  --ds-green-200: hsl(120deg 60% 95%);
  --ds-green-300: hsl(120deg 60% 91%);
  --ds-green-400: hsl(122deg 60% 86%);
  --ds-green-500: hsl(124deg 60% 75%);
  --ds-green-600: hsl(125deg 60% 64%);
  --ds-green-700: hsl(131deg 41% 46%);
  --ds-green-800: hsl(132deg 43% 39%);
  --ds-green-900: hsl(133deg 50% 32%);
  --ds-green-1000: hsl(128deg 29% 15%);

  /* teals */
  --ds-teal-100: hsl(169deg 70% 96%);
  --ds-teal-200: hsl(167deg 70% 94%);
  --ds-teal-300: hsl(168deg 70% 90%);
  --ds-teal-400: hsl(170deg 70% 85%);
  --ds-teal-500: hsl(170deg 70% 72%);
  --ds-teal-600: hsl(170deg 70% 57%);
  --ds-teal-700: hsl(173deg 80% 36%);
  --ds-teal-800: hsl(173deg 83% 30%);
  --ds-teal-900: hsl(174deg 91% 25%);
  --ds-teal-1000: hsl(171deg 80% 13%);

  /* purples */
  --ds-purple-100: hsl(276deg 100% 97%);
  --ds-purple-200: hsl(277deg 87% 97%);
  --ds-purple-300: hsl(274deg 78% 95%);
  --ds-purple-400: hsl(276deg 71% 92%);
  --ds-purple-500: hsl(274deg 70% 82%);
  --ds-purple-600: hsl(273deg 72% 73%);
  --ds-purple-700: hsl(272deg 51% 54%);
  --ds-purple-800: hsl(272deg 47% 45%);
  --ds-purple-900: hsl(274deg 71% 43%);
  --ds-purple-1000: hsl(276deg 100% 15%);

  /* pinks */
  --ds-pink-100: hsl(330deg 100% 96%);
  --ds-pink-200: hsl(340deg 90% 96%);
  --ds-pink-300: hsl(340deg 82% 94%);
  --ds-pink-400: hsl(341deg 76% 91%);
  --ds-pink-500: hsl(340deg 75% 84%);
  --ds-pink-600: hsl(341deg 75% 73%);
  --ds-pink-700: hsl(336deg 80% 58%);
  --ds-pink-800: hsl(336deg 74% 51%);
  --ds-pink-900: hsl(336deg 65% 45%);
  --ds-pink-1000: hsl(333deg 74% 15%);

  /* backgrounds */
  --ds-background-100: hsl(0deg 0% 100%);
  --ds-background-200: hsl(0deg 0% 98%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* grays */
    --ds-gray-100: hsl(0deg 0% 10%);
    --ds-gray-200: hsl(0deg 0% 12%);
    --ds-gray-300: hsl(0deg 0% 16%);
    --ds-gray-400: hsl(0deg 0% 18%);
    --ds-gray-500: hsl(0deg 0% 27%);
    --ds-gray-600: hsl(0deg 0% 53%);
    --ds-gray-700: hsl(0deg 0% 56%);
    --ds-gray-800: hsl(0deg 0% 49%);
    --ds-gray-900: hsl(0deg 0% 63%);
    --ds-gray-1000: hsl(0deg 0% 93%);

    /* blues */
    --ds-blue-100: hsl(216deg 50% 12%);
    --ds-blue-200: hsl(214deg 59% 15%);
    --ds-blue-300: hsl(213deg 71% 20%);
    --ds-blue-400: hsl(212deg 78% 23%);
    --ds-blue-500: hsl(211deg 86% 27%);
    --ds-blue-600: hsl(206deg 100% 50%);
    --ds-blue-700: hsl(212deg 100% 48%);
    --ds-blue-800: hsl(212deg 100% 41%);
    --ds-blue-900: hsl(210deg 100% 66%);
    --ds-blue-1000: hsl(206deg 100% 96%);

    /* reds */
    --ds-red-100: hsl(357deg 37% 12%);
    --ds-red-200: hsl(357deg 46% 16%);
    --ds-red-300: hsl(356deg 54% 22%);
    --ds-red-400: hsl(357deg 55% 26%);
    --ds-red-500: hsl(357deg 60% 32%);
    --ds-red-600: hsl(358deg 75% 59%);
    --ds-red-700: hsl(358deg 75% 59%);
    --ds-red-800: hsl(358deg 69% 52%);
    --ds-red-900: hsl(358deg 100% 69%);
    --ds-red-1000: hsl(353deg 90% 96%);

    /* ambers */
    --ds-amber-100: hsl(35deg 100% 8%);
    --ds-amber-200: hsl(32deg 100% 10%);
    --ds-amber-300: hsl(33deg 100% 15%);
    --ds-amber-400: hsl(35deg 100% 17%);
    --ds-amber-500: hsl(35deg 91% 22%);
    --ds-amber-600: hsl(39deg 85% 49%);
    --ds-amber-700: hsl(39deg 100% 57%);
    --ds-amber-800: hsl(35deg 100% 52%);
    --ds-amber-900: hsl(35deg 100% 52%);
    --ds-amber-1000: hsl(40deg 94% 93%);

    /* greens */
    --ds-green-100: hsl(136deg 50% 9%);
    --ds-green-200: hsl(137deg 50% 12%);
    --ds-green-300: hsl(136deg 50% 14%);
    --ds-green-400: hsl(135deg 70% 16%);
    --ds-green-500: hsl(135deg 70% 23%);
    --ds-green-600: hsl(135deg 70% 34%);
    --ds-green-700: hsl(131deg 41% 46%);
    --ds-green-800: hsl(132deg 43% 39%);
    --ds-green-900: hsl(131deg 43% 57%);
    --ds-green-1000: hsl(136deg 73% 94%);

    /* teals */
    --ds-teal-100: hsl(169deg 78% 7%);
    --ds-teal-200: hsl(170deg 74% 9%);
    --ds-teal-300: hsl(171deg 75% 13%);
    --ds-teal-400: hsl(171deg 85% 13%);
    --ds-teal-500: hsl(172deg 85% 20%);
    --ds-teal-600: hsl(172deg 85% 32%);
    --ds-teal-700: hsl(173deg 80% 36%);
    --ds-teal-800: hsl(173deg 83% 30%);
    --ds-teal-900: hsl(174deg 90% 41%);
    --ds-teal-1000: hsl(166deg 71% 93%);

    /* purples */
    --ds-purple-100: hsl(283deg 30% 12%);
    --ds-purple-200: hsl(281deg 38% 16%);
    --ds-purple-300: hsl(279deg 44% 23%);
    --ds-purple-400: hsl(277deg 46% 28%);
    --ds-purple-500: hsl(274deg 49% 35%);
    --ds-purple-600: hsl(272deg 51% 54%);
    --ds-purple-700: hsl(272deg 51% 54%);
    --ds-purple-800: hsl(272deg 47% 45%);
    --ds-purple-900: hsl(275deg 80% 71%);
    --ds-purple-1000: hsl(281deg 73% 96%);

    /* pinks */
    --ds-pink-100: hsl(335deg 32% 12%);
    --ds-pink-200: hsl(335deg 43% 16%);
    --ds-pink-300: hsl(335deg 47% 21%);
    --ds-pink-400: hsl(335deg 51% 22%);
    --ds-pink-500: hsl(335deg 57% 27%);
    --ds-pink-600: hsl(336deg 75% 40%);
    --ds-pink-700: hsl(336deg 80% 58%);
    --ds-pink-800: hsl(336deg 74% 51%);
    --ds-pink-900: hsl(341deg 90% 67%);
    --ds-pink-1000: hsl(333deg 90% 96%);

    /* backgrounds */
    --ds-background-100: hsl(0deg 0% 4%);
    --ds-background-200: hsl(0deg 0% 0%);
  }
}

@theme {
  /* typography */
  --font-sans: var(--font-host-grotesk);

  /* colors */
  --color-*: initial;
  --color-transparent: transparent;

  /* backgrounds */
  --color-background: var(--ds-background-100);
  --color-background-secondary: var(--ds-background-200);

  /* grays */
  --color-gray-bg-default: var(--ds-gray-100);
  --color-gray-bg-hover: var(--ds-gray-200);
  --color-gray-bg-active: var(--ds-gray-300);
  --color-gray-border-default: var(--ds-gray-400);
  --color-gray-border-hover: var(--ds-gray-500);
  --color-gray-border-active: var(--ds-gray-600);
  --color-gray-bg-high-contrast: var(--ds-gray-700);
  --color-gray-bg-high-contrast-hover: var(--ds-gray-800);
  --color-gray-text-secondary: var(--ds-gray-900);
  --color-gray-text-primary: var(--ds-gray-1000);

  /* blues */
  --color-blue-bg-default: var(--ds-blue-100);
  --color-blue-bg-hover: var(--ds-blue-200);
  --color-blue-bg-active: var(--ds-blue-300);
  --color-blue-border-default: var(--ds-blue-400);
  --color-blue-border-hover: var(--ds-blue-500);
  --color-blue-border-active: var(--ds-blue-600);
  --color-blue-bg-high-contrast: var(--ds-blue-700);
  --color-blue-bg-high-contrast-hover: var(--ds-blue-800);
  --color-blue-text-secondary: var(--ds-blue-900);
  --color-blue-text-primary: var(--ds-blue-1000);

  /* reds */
  --color-red-bg-default: var(--ds-red-100);
  --color-red-bg-hover: var(--ds-red-200);
  --color-red-bg-active: var(--ds-red-300);
  --color-red-border-default: var(--ds-red-400);
  --color-red-border-hover: var(--ds-red-500);
  --color-red-border-active: var(--ds-red-600);
  --color-red-bg-high-contrast: var(--ds-red-700);
  --color-red-bg-high-contrast-hover: var(--ds-red-800);
  --color-red-text-secondary: var(--ds-red-900);
  --color-red-text-primary: var(--ds-red-1000);

  /* ambers */
  --color-amber-bg-default: var(--ds-amber-100);
  --color-amber-bg-hover: var(--ds-amber-200);
  --color-amber-bg-active: var(--ds-amber-300);
  --color-amber-border-default: var(--ds-amber-400);
  --color-amber-border-hover: var(--ds-amber-500);
  --color-amber-border-active: var(--ds-amber-600);
  --color-amber-bg-high-contrast: var(--ds-amber-700);
  --color-amber-bg-high-contrast-hover: var(--ds-amber-800);
  --color-amber-text-secondary: var(--ds-amber-900);
  --color-amber-text-primary: var(--ds-amber-1000);

  /* greens */
  --color-green-bg-default: var(--ds-green-100);
  --color-green-bg-hover: var(--ds-green-200);
  --color-green-bg-active: var(--ds-green-300);
  --color-green-border-default: var(--ds-green-400);
  --color-green-border-hover: var(--ds-green-500);
  --color-green-border-active: var(--ds-green-600);
  --color-green-bg-high-contrast: var(--ds-green-700);
  --color-green-bg-high-contrast-hover: var(--ds-green-800);
  --color-green-text-secondary: var(--ds-green-900);
  --color-green-text-primary: var(--ds-green-1000);

  /* teals */
  --color-teal-bg-default: var(--ds-teal-100);
  --color-teal-bg-hover: var(--ds-teal-200);
  --color-teal-bg-active: var(--ds-teal-300);
  --color-teal-border-default: var(--ds-teal-400);
  --color-teal-border-hover: var(--ds-teal-500);
  --color-teal-border-active: var(--ds-teal-600);
  --color-teal-bg-high-contrast: var(--ds-teal-700);
  --color-teal-bg-high-contrast-hover: var(--ds-teal-800);
  --color-teal-text-secondary: var(--ds-teal-900);
  --color-teal-text-primary: var(--ds-teal-1000);

  /* purples */
  --color-purple-bg-default: var(--ds-purple-100);
  --color-purple-bg-hover: var(--ds-purple-200);
  --color-purple-bg-active: var(--ds-purple-300);
  --color-purple-border-default: var(--ds-purple-400);
  --color-purple-border-hover: var(--ds-purple-500);
  --color-purple-border-active: var(--ds-purple-600);
  --color-purple-bg-high-contrast: var(--ds-purple-700);
  --color-purple-bg-high-contrast-hover: var(--ds-purple-800);
  --color-purple-text-secondary: var(--ds-purple-900);
  --color-purple-text-primary: var(--ds-purple-1000);

  /* pinks */
  --color-pink-bg-default: var(--ds-pink-100);
  --color-pink-bg-hover: var(--ds-pink-200);
  --color-pink-bg-active: var(--ds-pink-300);
  --color-pink-border-default: var(--ds-pink-400);
  --color-pink-border-hover: var(--ds-pink-500);
  --color-pink-border-active: var(--ds-pink-600);
  --color-pink-bg-high-contrast: var(--ds-pink-700);
  --color-pink-bg-high-contrast-hover: var(--ds-pink-800);
  --color-pink-text-secondary: var(--ds-pink-900);
  --color-pink-text-primary: var(--ds-pink-1000);

  /* breakpoints */
  --breakpoint-xs: 425px;
  --breakpoint-xs-alt: 672px;
}

@utility font-optical-sizing-auto {
  font-optical-sizing: auto;
}

@utility font-normal {
  font-variation-settings: 'wght' 400;
}

@utility font-semibold {
  font-variation-settings: 'wght' 600;
}

@utility font-bold {
  font-variation-settings: 'wght' 700;
}
